:root {
  --pure_white: rgb(255, 255, 255);
}
html{
  font-size: 62.5%;
  color: aliceblue;
}

* {
  margin: 0px;
  padding: 0px;
}

/* design ing navingation part*/
 .nav_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  background-color: var(--pure_white);
}

.nav-link {
  display: flex;
  justify-content: space-around;
 list-style: none;
  
}
.nav_bar h2{
  font-size: 3rem;
  background:linear-gradient(rgb(4, 43, 43) 10%,rgb(249, 0, 0) 100%);
  background-clip: text;
 -webkit-text-fill-color: transparent;
}

.nav-link li{
  padding: 10px;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(51, 51,51);
}

@media (max-width:768px) {
  .nav_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}

/* poricoy Section*/

.porichoy{
    background-image: linear-gradient(rgb(29, 29, 75) 0%,rgb(47, 13, 93) 100%);
    display: flex;
    justify-content: center;
    min-height: 70vh;
    align-items: center;
}

.porichoy .content{
   padding: 2em;
}

.content h1{
  font-size: 3rem;
  margin-bottom: .3em;
}
.details p{
  font-size: 2rem;
    margin-bottom: .3em;
}

.details div{
  font-size: 1.5rem;
    
}
.details{
  margin-bottom: 10px;
}
.online-prof a{

  text-decoration: none;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(red,blue);
  border-radius: 30%;
  border: 1px solid white;
  margin: 10px;

  display:inline-flex;       /* Allows width/height and centering */
  align-items: center;        /* Centers text vertically */
  justify-content: center;     /* Centers text horizontally */
  width:9.5rem;                /* Must be equal to height */
  height: 50px
  
}