:root {
  --pure_white: rgb(255, 255, 255);
}
html {
  font-size: 62.5%;
  color: aliceblue;
}

* {
  margin: 0px;
  padding: 0px;
}
h1 {
  text-align: center;
  color: #1e293b;
  font-weight: 800;
  font-size: 30px;
  margin: 40px 0px;
}

/* design ing navingation part*/
#stick{
  position: sticky;
  top: 0px;
  z-index: 1000;
}
.nav_bar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70px;
  margin: 0px 5px;
  background-color: rgb(226, 223, 218);
  border-radius: 0px 0px 5px 5px;

  .nav-link {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
    min-width: 300px;
  }
  h2 {
    margin-left: 15px;
    font-size: 2.5rem;
    background: linear-gradient(rgb(4, 43, 43) 10%, rgb(249, 0, 0) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    text-decoration: none;
    li {
      font-size: 1.7rem;
      font-weight: 600;
      color: rgb(51, 51, 51);
    }
  }
}

@media (max-width: 768px) {
  .nav_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-link {
    display: flex;
    justify-content: space-around;
    min-width: 350px;
  }
}

/* poricoy Section*/
.porichoy {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(29, 29, 75) 0%, rgb(47, 13, 93) 100%);
  min-height: 75vh;
  clip-path: polygon(0% 0%, 0% 100%, 100% 95%, 100% 0%);
  width: 100vw;
  padding-bottom: 10px;
  .content {
    margin: 5px;
  }

  .totconshape {
    display: flex;
    justify-content: center;

    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
  }

  .content h1 {
    font-size: 3rem;
    margin-bottom: 0.3em;
    color: #58a335;
  }
  .details p {
    font-size: 2rem;
    margin-bottom: 0.3em;
  }

  .details div {
    font-size: 1.5rem;
  }
  .details {
    margin-bottom: 10px;
  }
  .online-prof a {
    text-decoration: none;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, rgb(255, 0, 200) 0%, blue 100%);
    border-radius: 20%;
    border: 1px solid white;
    margin: 10px;
    padding: 0.2em;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 9.5rem;
    height: 40px;
    transition: transform 0.7s;
  }
  a:hover {
    transform: scale(1.1);
  }

  /*profile image*/
  .prof-image {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    margin: 20px;
  }

  .my-prof-image {
    height: 90%;
    width: 90%;
    z-index: 1;
    object-fit: cover;

    border-radius: 50%;
  }
  .rolling {
    z-index: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-image: linear-gradient(purple 0%, white 100%);
    animation: rotating 3s linear;
    position: absolute;
  }

  @keyframes rotating {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.aboutme {
  min-height: 60vh;

  h3 {
    color: black;
    font-size: 2rem;
  }
  p {
    color: #866262;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    text-align: center;
  }
  .details-text p {
    font-size: 1.5rem;
    color: rgb(70, 66, 66);
  }

  .card {
    border: 1px solid rgb(116, 113, 113);
    height: 60px;
    margin: 10px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    background-color: aliceblue;
    animation: lightt 3s linear forwards infinite alternate-reverse;
    border-top: 4px solid white;
  }
}
@keyframes lightt {
  0% {
  }

  100% {
    border-top: 4px solid rgb(255, 0, 0);
  }
}

.Technical-skills {
  min-height: 60vh;
  .content {
    background-color: #f8fafc;
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-content: center;
    text-align: center;
    gap: 20px;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;

    color: black;

    background-color: #ffffff;
    min-height: 200px;
    list-style-type: none;
    h2 {
      font-size: 2rem;
      color: #333333;
    }
  }

  li {
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #666666;
  }
}

.recent-preoject {
  .project {
    h2 {
      color: #000000;
      font-weight: 700;
      font-size: 2rem;
      margin-bottom: 12px;
    }
    p {
      color: #333333;
      font-size: 1.5rem;
    }

    .tags {
      span {
        display: inline-flex;
        height: 30px;
        width: 100px;
        color: #312e2e;
        background-color: #c4b4cf;
        margin: 5px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        font-weight: 600;
      }
    }
    margin: 5px;
    background-color: rgb(233, 225, 225);
    border-radius: 15px;
    padding: 10px;
  }
}

.all-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
}

.lets-connect {
  .way {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    a {
      text-decoration: none;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;
      min-height: 100px;
      min-width: 150px;
      background-color: #ece8e8;
      border-radius: 20px;
      color: #333333;
      font-size: 1.5rem;
      font-weight: 600;
      transition: transform 0.5s linear;
    }
    a:hover {
      transform: translateY(-8px);
      color: #df5858;
    }
  }
}

footer {
  background-color: #1e293b;
  height: 15vh;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width:700px) {
  .lets-connect .way{
      flex-direction: column;
  }
  .all-project{
    grid-template-columns: 1fr;
  }
  .Technical-skills .content{
    grid-template-columns: 1fr;
  }
  .aboutme .content{
    grid-template-columns: 1fr;
  }
}